<template>
    <v-container>
        <v-banner align="right"><h1 id="title">نرخ ارز</h1></v-banner>
        <v-row>
            <v-col cols="12">
                <v-data-table
                        :headers="headers"
                        :items="items"
                        :items-per-page="5"
                        class="elevation-1"
                ></v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "ExchangeRate" ,
        data(){
            return{
                headers:[
                    {
                        text: "ارز" ,
                        value:"name"
                    } ,
                    {
                        text: "قیمت فروش" ,
                        value:"sellPrice"
                    },
                    {
                        text: "قیمت خرید" ,
                        value:"buyPrice"
                    },
                    {
                        text: "درصد تغییر" ,
                        value:"changePercent"
                    }
                ],

                items:[
                    {
                        name : "دلار" ,
                        sellPrice : "2100000" ,
                        buyPrice : "2400000" ,
                        changePercent : "+2%"
                    },
                    {
                        name : "یورو" ,
                        sellPrice : "2100000" ,
                        buyPrice : "2400000" ,
                        changePercent : "+2%"
                    },
                    {
                        name : "پوند" ,
                        sellPrice : "2100000" ,
                        buyPrice : "2400000" ,
                        changePercent : "+2%"
                    },
                    {
                        name : "درهم امارات" ,
                        sellPrice : "2100000" ,
                        buyPrice : "2400000" ,
                        changePercent : "+2%"
                    },
                    {
                        name : "صدین ژاپن" ,
                        sellPrice : "2100000" ,
                        buyPrice : "2400000" ,
                        changePercent : "+2%"
                    },
                    {
                        name : "ریال عربستان" ,
                        sellPrice : "2100000" ,
                        buyPrice : "2400000" ,
                        changePercent : "+2%"
                    },
                    {
                        name : "روپیه" ,
                        sellPrice : "2100000" ,
                        buyPrice : "2400000" ,
                        changePercent : "+2%"
                    },
                ]
            }
        },
    }
</script>

<style scoped>
    @font-face {
        font-family: 'IranSans';
        src: url("../../../src/assets/fonts/eot/IRANSansWeb.eot") format('eot') ,
        url("../../../src/assets/fonts/ttf/IRANSansWeb.ttf") format('ttf') ,
        url("../../../src/assets/fonts/woff/IRANSansWeb.woff") format('woff') ,
        url("../../../src/assets/fonts/woff2/IRANSansWeb.woff2") format('woff2');
    }

    *{
        font-family: 'IranSans';
        font-size: 30px;
    }

    #title{
        font-size: 45px;
        font-weight: bold;
    }
</style>