<template>
    <v-container>
        <v-row>
            <v-col cols="12" lg="3" sm="12" md="12" class="evalution-4" id="right">
                <Left/>
            </v-col>
            <v-col cols="12" lg="6" md="12" sm="12">
                <Center/>
            </v-col>
            <v-col cols="12" sm="12" md="12" lg="3">
                <Right/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import Left from "./HomeComponents/Left";
    import Center from "./HomeComponents/Center";
    import Right from "./HomeComponents/Right";
    export default {
        name: "Main" ,
        components: {Right, Center, Left},
        data(){
            return{

            }
        }
    }
</script>

<style scoped>

    @font-face {
        font-family: 'IranSans';
        src: url("../../../src/assets/fonts/eot/IRANSansWeb.eot") format('eot') ,
        url("../../../src/assets/fonts/ttf/IRANSansWeb.ttf") format('ttf') ,
        url("../../../src/assets/fonts/woff/IRANSansWeb.woff") format('woff') ,
        url("../../../src/assets/fonts/woff2/IRANSansWeb.woff2") format('woff2');
    }

    *{
        font-family: 'IranSans';
        font-size: 30px;
    }

    #right{
    border: lightgreen dotted 6px;
}
</style>