<template>
    <v-row id="root">
        <ContentCarousel/>
        <v-banner align="right">افتخارات</v-banner>
        <ContentAcheivment/>
    </v-row>
</template>

<script>
    import ContentCarousel from "../../Utils/ContentCarousel";
    import ContentAcheivment from "../../Utils/ContentAcheivment";
    export default {
        name: "Center",
        components: {ContentAcheivment, ContentCarousel}
    }
</script>

<style scoped>
#root{
    padding: 20px;
    border: solid grey 4px;
    border-radius: 10px;
}
</style>