<template>
    <v-list>
        <v-subheader align="right">آخرین مطالب</v-subheader>
        <v-list-item-group v-model="item">
            <v-list-item
                    v-for="(item , i) in items"
                    :key="i">
                <v-list-item-content v-text="item"></v-list-item-content>
            </v-list-item>
        </v-list-item-group>
    </v-list>
</template>

<script>
    export default {
        name: "Left" ,
        data(){
            return{
                item:1 ,
                items:[
                    'افزایش قیمت دلار' ,
                    'اخبار بورس' ,
                    'نرخ سود بانکی' ,
                    'رمز ارز چیست؟' ,
                ]
            }
        }
    }
</script>

<style scoped>

    @font-face {
        font-family: 'IranSans';
        src: url("../../../../src/assets/fonts/eot/IRANSansWeb.eot") format('eot') ,
        url("../../../../src/assets/fonts/ttf/IRANSansWeb.ttf") format('ttf') ,
        url("../../../../src/assets/fonts/woff/IRANSansWeb.woff") format('woff') ,
        url("../../../../src/assets/fonts/woff2/IRANSansWeb.woff2") format('woff2');
    }

    *{
        font-family: 'IranSans';
        font-size: 30px;
    }

    #right{
        border: lightgreen dotted 6px;
    }
</style>