<template>
    <v-container id="root">
        <div id="time"> </div>
    </v-container>
</template>

<script>
    export default {
        name: "Right"
    }
</script>

<style scoped>
#root{
    border: dotted lightgreen 4px;
}
</style>