<template>
        <v-container>
            <v-row>
                <v-col cols="12" lg="6" md="12" sm="12">

                    <MyInput my-id="nameField" :model="person.name" label="نام*"></MyInput>

                    <MyInput my-id="familyField" :model="person.family" label="نام خانوادگی*"></MyInput>

                    <MyInput my-id="mobileField" :model="person.mobilePhone" label="تلفن همراه*"></MyInput>

                </v-col>
                <v-col cols="12" lg="6" md="12" sm="12">
                    <MyInput my-id="emailField" :model="person.email" label="آدرس پست الکترونیک*"></MyInput>
                    <MyInput my-id="emergencyField" :model="person.emergencyPhone" label="تلفن ضروری"></MyInput>

                    <v-radio-group
                            row>
                        <template v-slot:label>
                            <div align="right">جنسیت</div>
                        </template>
                        <v-radio label="زن" color="primary"></v-radio>
                        <v-radio label="مرد" color="indigo"></v-radio>
                    </v-radio-group>
                </v-col>
            </v-row>
        </v-container>
</template>

<script>
    import MyInput from "../Utils/MyInput";
    export default {
        name: "Step1" ,
        data(){
            return{
                person:{
                    name : "" ,
                    family : "" ,
                    mobilePhone : "" ,
                    email : "" ,
                    emergencyPhone : "" ,
                    sex : ""
                }
            }
        } ,
        components:{
            MyInput
        }
    }
</script>

<style scoped>
</style>