<template>
    <v-container>
        <v-row justify="center">
            <v-col cols="12">
                <MyInput label="نام کاربری*"
                         :model="username"
                         my-id="username"
                ></MyInput>

                <MyInput label="رمز عبور*"
                         :model="password"
                         my-id="password"
                ></MyInput>

                <MyInput label="تکرار رمز عبور*" :model="repeatPassword"
                         my-id="repeatPassword"
                ></MyInput>

                <v-banner align="right">سوال امنیتی</v-banner>

                <v-radio-group row>
                    <template v-slot:label>
                        <div align="right"><strong>حیوان مورد علاقه</strong></div>
                    </template>
                    <v-radio label="گربه"></v-radio>
                    <v-radio label="سگ"></v-radio>
                    <v-radio label="ماهی"></v-radio>
                    <v-radio label="طوطی"></v-radio>
                    <v-radio label="آهو"></v-radio>
                </v-radio-group>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import MyInput from "../Utils/MyInput";
    export default {
        name: "Step2" ,
        components: {MyInput},
        data:() =>({
                username : '' ,
                password : '' ,
                repeatPassword : '' ,
                securityQuestion : '' ,
                items:[
                    'سگ' ,
                    'گربه' ,
                    'طوطی' ,
                    'ماهی' ,
                    'آهو'
                ]
        })
    }
</script>

<style scoped>

</style>