<template>
    <v-container>
        <v-row>
            <v-col cols="12" lg="6" sm="12" md="12">
                <v-radio-group>
                    <template v-slot:label>
                        <div align="right">بانک :</div>
                    </template>
                    <v-radio label="ملت"></v-radio>
                    <v-radio label="ملی"></v-radio>
                    <v-radio label="تجارت"></v-radio>
                    <v-radio label="پارسیان"></v-radio>
                    <v-radio label="پاسارگارد"></v-radio>
                    <v-radio label="سپه"></v-radio>
                </v-radio-group>
            </v-col>
            <v-col cols="12" lg="6" sm="12" md="12">
                <MyInput label="شماره حساب*" my-id="accountNum" :model="accountNumber"></MyInput>
                <MyInput label="شماره شبا*" my-id="SHABANum" :model="ShabaNum"></MyInput>
                <MyInput label="شماره کارت*" my-id="creditNum" :model="CreditNum"></MyInput>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import MyInput from "../Utils/MyInput";
    export default {
        name: "Step3",
        components: {MyInput} ,
        data(){
            return{
                accountNumber : '' ,
                bankName : '' ,
                ShabaNum : '' ,
                CreditNum : ''
            }
        }
    }
</script>

<style scoped>

</style>