<!--Start Template-->
<template>
<!--  Template Root  -->
    <v-app class="home">
<!--    Auto Carousel    -->
        <Carousel/>
        <!--End of Auto Carousel-->

<!--     Menu bar   -->
        <HomeMenu/>
        <!--End of Menu bar-->


        <template>
            <v-bottom-navigation
                    v-model="value"
                    :background-color="color"
                    dark
                    shift
            >

                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                v-bind="attrs"
                                v-on="on"
                                @click="goToRegister"
                        >
                            <span>ثبت نام</span>
                            <v-icon>mdi-key</v-icon>
                        </v-btn>
                    </template>
                    <span>ثبت نام</span>
                </v-tooltip>

                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                v-bind="attrs"
                                v-on="on"
                                @click="goToLogin"
                        >
                            <span>ورود</span>
                            <v-icon>mdi-account</v-icon>
                        </v-btn>
                    </template>
                    <span>ورود</span>
                </v-tooltip>

                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                v-bind="attrs"
                                v-on="on"
                        >
                            <span>تبدیل واحد</span>
                            <v-icon>mdi-cog-transfer</v-icon>
                        </v-btn>
                    </template>
                    <span>تبدیل واحد</span>
                </v-tooltip>
            </v-bottom-navigation>
        </template>
</v-app>
</template>


<script>
    import Carousel from '../components/Carousel'
    import HomeMenu from "../components/HomeMenu";
    import ExchangeRate from "../components/MainComponents/ExchangeRate";
    export default {
        name: "Home" ,
        components:{
            ExchangeRate,
            Carousel ,
            HomeMenu
        } ,
        data:function () {
            return {
                exchangeRate : false ,
                value : 1
            }
        },
        computed:{
            color(){
                switch (this.value) {
                    case 0: return 'blue-grey'
                    case 1: return 'teal'
                    case 2: return 'brown'
                    case 3: return 'indigo'
                    default: return 'blue-grey'
                }
            }
        },
        methods:{
            goToLogin:function () {
                this.$router.push('/login');
            } ,
            goToRegister:function () {
                this.$router.push('/register')
            }
        }


    }
</script>

<style scoped>
    @font-face {
        font-family: 'IranSans';
        src: url("../assets/fonts/eot/IRANSansWeb.eot") format('eot') ,
        url("../assets/fonts/ttf/IRANSansWeb.ttf") format('ttf') ,
        url("../assets/fonts/woff/IRANSansWeb.woff") format('woff') ,
        url("../assets/fonts/woff2/IRANSansWeb.woff2") format('woff2');
    }
    .home{
        font-family: 'IranSans';
    }




</style>