<template>
    <v-app id="root">
        <v-container>
            <v-row justify-lg="center" id="container">
                <div>ورود به حساب کاربری</div>
            </v-row>
            <v-row justify-lg="center">
                <v-divider></v-divider>
            </v-row>

            <v-row justify-lg="center" align-content-md="center" align-content-sm="center" id="form">
                <v-col cols="12" lg="6" md="10">
                    <v-row justify-lg="center" >
                        <v-img src="../assets/images/user.png"
                           max-height="200px"
                               max-width="200px"
                           alt="user"></v-img>
                    </v-row>
                    <v-row>
                        <v-text-field
                            id="username"
                            label="ایمیل یا شماره تلفن"
                            prepend-inner-icon="mdi-account"
                        ></v-text-field>
                    </v-row>
                    <v-row>
                        <v-text-field
                            id="password"
                            label="پسورد"
                            prepend-inner-icon="mdi-lock"></v-text-field>
                    </v-row>
                    <v-row>
                        <v-btn
                        id="loginBTN"
                        width="33%"
                        color="primary"><v-icon>mdi-door</v-icon>ورود</v-btn>
                        <v-btn
                            @click="goToRegister"
                            id="registerBTN"
                            width="33%"
                            color="teal"><v-icon>mdi-key</v-icon>ثبت نام</v-btn>
                        <v-spacer></v-spacer>
                        <a id="forgetPassword">فراموشی رمز عبور</a>
                    </v-row>

                </v-col>
            </v-row>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "Login" ,
        methods:{
            goToRegister:function () {
                this.$router.push('/register')
            }
        }
    }
</script>

<style scoped>
    @font-face {
        font-family: 'IranSans';
        src: url("../assets/fonts/eot/IRANSansWeb.eot") format('eot') ,
        url("../assets/fonts/ttf/IRANSansWeb.ttf") format('ttf') ,
        url("../assets/fonts/woff/IRANSansWeb.woff") format('woff') ,
        url("../assets/fonts/woff2/IRANSansWeb.woff2") format('woff2');
    }
#root{
    font-family:'IranSans' ;
    background-image: url("../assets/images/back.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#container{
    margin-top: 10%;
}

*{
    color: white;
    font-size: 30px;
}

#form{
    background-color: lightgreen;
    border-radius: 20px;
    opacity: 80%;
}

#loginBTN ,
#registerBTN{
    font-size: 30px;
    color: white;
}

#forgetPassword{
    font-size: 25px;
}
</style>