<template>
    <v-stepper v-model="e1">
        <v-stepper-header>
            <template v-for="n in steps">
                <v-stepper-step
                        :key="`${n}-step`"
                        :complete="e1 > n"
                        :step="n"
                        editable
                        color="primary"
                >
                    {{stepsName[n-1]}}
                </v-stepper-step>

                <v-divider
                        v-if="n !== steps"
                        :key="n"
                ></v-divider>
            </template>
        </v-stepper-header>

        <v-stepper-items>
            <v-stepper-content
                    v-for="n in steps"
                    :key="`${n}-content`"
                    :step="n"
            >
                <v-card
                        id="scrollable"
                        height="400px"
                >
                    <div v-if="n == 1">
                         <Step1/>
                    </div>
                    <div v-if="n == 2">
                        <Step2/>
                    </div>
                    <div v-if="n == 3">
                        <Step3/>
                    </div>
                </v-card>
                <br><br>
                <v-btn
                        color="red"
                        @click="nextStep(n)"
                >
                    <div v-if="n !== 3">مرحله بعدی</div>
                    <div v-else>اتمام</div>
                </v-btn>

                <v-btn color="red" @click="perviousStep(n)"
                :disabled="n == 1">
                    مرحله قبل
                </v-btn>
            </v-stepper-content>
        </v-stepper-items>
    </v-stepper>
</template>

<script>
    import Step1 from "../components/RegisterSteps/Step1";
    import Step2 from "../components/RegisterSteps/Step2";
    import Step3 from "../components/RegisterSteps/Step3";
    export default {
        name: "Register" ,
        data(){
            return{
                e1: 1,
                steps: 3,
                stepsName :[
                    "مشخصات فردی" ,
                    "نام کاربری" ,
                    "اطلاعات بانکی"
                ]
            }
        } ,
        components:{
            Step3,
            Step2,
            Step1
        },
        watch: {
            steps (val) {
                if (this.e1 > val) {
                    this.e1 = val
                }
            },
        },

        methods: {
            nextStep (n) {
                if (n === this.steps) {
                    this.$router.push('/')
                } else {
                    this.e1 = n + 1
                }
            },
            perviousStep(n){
                this.e1 = n - 1
            }
        },
    }
</script>

<style scoped>
@font-face {
    font-family: 'IranSans';
    src: url("../assets/fonts/eot/IRANSansWeb.eot") format('eot') ,
    url("../assets/fonts/ttf/IRANSansWeb.ttf") format('ttf') ,
    url("../assets/fonts/woff/IRANSansWeb.woff") format('woff') ,
    url("../assets/fonts/woff2/IRANSansWeb.woff2") format('woff2');
}

*{
    font-family: 'IranSans';
}

#scrollable{
    overflow-x: scroll;
}
</style>