<template>
        <v-carousel cycle>
            <v-carousel-item
                    v-for="(item,i) in Carouselitems"
                    :key="i"
                    :src="item.src"
                    reverse-transition="fade-transition"
                    transition="fade-transition"
            ></v-carousel-item>
        </v-carousel>

</template>

<script>
    export default {
        name: "Carousel" ,
        data(){
            return{
                Carouselitems: [
                    {
                        src: 'https://www.iranweber.com/wp-content/uploads/2016/11/Money-Exchange-ATM-or-Currency-' +
                            'Exchange-Bucharest-Card-1024x427-670x300.jpg',
                    },
                    {
                        src: 'https://blog.dunro.com/sites/default/files/images/%D8%B5%D8%B1%D8%A7%D9%81%DB%8C-%' +
                            'D8%A2%D9%86%D9%84%D8%A7%DB%8C%D9%86.jpg',
                    },
                    {
                        src: 'https://sorg.ir/wp-content/uploads/2019/09/payvaand2.jpg',
                    },
                    {
                        src: 'https://static2.eghtesadonline.com/thumbnail/eMcy7FdnY9xB/BGmQaTBpfAznmg' +
                            '3eS4DzyCCNYldrqpxb2bkAbuIL7oQ4yAKiFkYNbmZ_x6Qzyn2lCdJqqwn71sf3SrKMjS-LGkMiFO3TcGtnH4VthAFN' +
                            '-1vZMkDOp7fVfkRJrxgDYjej/%D9%85%D8%B1%D8%AF%D9%85+%D9%85%D9%86%D8%AA%D8%B8%D8%B1+%D8%A8%D8' +
                            '%A7%D8%B2%DA%AF%D8%B4%D8%A7%DB%8C%DB%8C+%D8%B5%D8%B1%D8%A7%D9%81%DB%8C%E2%80%8C%D9%87' +
                            '%D8%A7.jpg',
                    },
                ],
                model: 0
            }
        }
    }
</script>

<style scoped>

</style>