<!--Start Template-->
<template>
<!--  Template Root  -->
    <v-app>
<!--    Menu bar    -->
        <nav class="navbar navbar-expand-md" id="menu">
<!--     Navbar Title       -->
            <a class="navbar-brand">منو اصلی</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <!--Navbar Items-->
                    <li class="nav-item" v-for="item in items" @click="item.function">
                        <a class="nav-link">{{item.title}}  <v-icon :color="item.color">{{item.icon}}</v-icon></a>
                    </li><!--End of navbar Items-->

                </ul>
            </div>
        </nav><!--End of Menu bar-->
        <v-main>
            <!--Home Page Content-->
            <div v-if="ExchangeRate">
                <ExchangeRate/>
            </div>
            <div v-else-if="CoinRate">
                <CoinRate/>
            </div>
            <div v-else-if="home">
                <Main/>
            </div>

            <v-dialog v-model="dialog">
                <v-card>
                    <v-card-title>پرداخت وجه</v-card-title>

                    <v-card-text id="card">
                        <v-form>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" lg="2" md="12" sm="12">
                                        <v-banner align="right">مبلغ پرداخت :</v-banner>
                                    </v-col>
                                    <v-col cols="12" lg="4" md="12" sm="12">
                                        <v-text-field
                                        outlined
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" lg="2" sm="12" md="12">
                                        <v-banner align="right"><strong>انتخاب درگاه بانکی</strong></v-banner>
                                    </v-col>
                                    <v-col cols="12" lg="10" md="12" sm="12">
                                        <v-btn-toggle>
                                                    <v-btn v-for="bankingPort in bankingPorts" :color="bankingPort.color"
                                                           min-height="100px"
                                                           min-width="150px">
                                                        <span>{{bankingPort.name}}</span>

                                                        <v-img :src="bankingPort.picture" max-width="50px"
                                                               max-height="80px"></v-img>
                                                    </v-btn>


                                        </v-btn-toggle>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-card-text>

                    <v-card-actions>
                        <v-btn color="primary"
                        @click="dialog = false">پرداخت</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-main>
    </v-app>
</template>

<script>

    import ExchangeRate from "./MainComponents/ExchangeRate";
    import CoinRate from "./MainComponents/CoinRate";
    import Main from "./MainComponents/Main";
    export default {

        name: "HomeMenu" ,
        components: {Main, CoinRate, ExchangeRate},
        data : function () {
            return{
                ExchangeRate : false,
                CoinRate : false ,
                home : true ,
                value:1 ,
                dialog : false ,
                //items on navbar menu and its icon
                items:[
                    {
                        title:  "خانه",
                        icon: "mdi-home" ,
                        function: this.homeTrue,
                        color: "purple"
                    },
                    {
                        title : "نرخ ارز" ,
                        icon : "mdi-currency-gbp" ,
                        function: this.ExchangeRateTrue ,
                        color : "black"
                    },
                    {
                        title : "نرخ سکه" ,
                        icon : "mdi-currency-usd-circle" ,
                        function: this.CoinRateTrue,
                        color: "yellow"
                    },
                    {
                        title : "پرداخت وجه" ,
                        icon : "mdi-credit-card" ,
                        function: this.PaymentTrue ,
                        color: "primary"
                    },
                    {
                        title : "پشتیبانی" ,
                        icon : "mdi-headset" ,
                        function: this.ExchangeRateTrue ,
                        color: "cyan"
                    },
                    {
                        title : "درباره ما" ,
                        icon : "mdi-alert-circle" ,
                        function: this.ExchangeRateTrue ,
                        color: "white"
                    }
                ] ,
                bankingPorts:[
                    {
                        name : "ملی",
                        color : "pink lighten-4" ,
                        picture: "https://bmi.ir/fa/uploadedfiles/archivefiles/2019_10_26/logobmi__cbf42217ad.png" ,
                    } ,
                    {
                        name : "پارسیان",
                        color : "blue lighten-4" ,
                        picture: "http://www.oonternet.com/_panel/upload/content/oonternet-8560628873821.gif" ,
                    } ,
                    {
                        name : "ملت",
                        color : "lime lighten-4" ,
                        picture: "https://www.naghsheyerah.ir/wp-content/uploads/2016/11/2015427171537957.gif" ,
                    } ,
                    {
                        name : "آسان پرداخت",
                        color : "orange lighten-3" ,
                        picture: "https://way2pay.ir/wp-content/uploads/Asan-Pardakht-PNG-way2pay-95-09-14.png" ,
                    } ,
                ]
            }
        },
        methods:{
            //show ExchangeRate Content
            "ExchangeRateTrue": function () {
                this["ExchangeRate"] = true ;
                this["CoinRate"] = false ;
                this.home=false;
            } ,
            "CoinRateTrue": function () {
                this["CoinRate"] = true ;
                this["ExchangeRate"] = false ;
                this.home=false
            },
            PaymentTrue:function () {
                this.dialog = true ;

            },
            homeTrue:function () {
                this.home = true
                this["CoinRate"] = false ;
                this["ExchangeRate"] = false ;
            }
        } ,
    }
</script>

<style scoped>
    /*define font*/
    @font-face {
        font-family: 'IranSans';
        src: url("../assets/fonts/eot/IRANSansWeb.eot") format('eot') ,
        url("../assets/fonts/ttf/IRANSansWeb.ttf") format('ttf') ,
        url("../assets/fonts/woff/IRANSansWeb.woff") format('woff') ,
        url("../assets/fonts/woff2/IRANSansWeb.woff2") format('woff2');
    }
    /*menu Background*/
    #menu{
        font-family: 'IranSans';
        background-color: green;
    }
    /*menu items color*/
    #menu a{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    #card{
        overflow-x: scroll;
        overflow-y: hidden;
    }
</style>