@font-face {
    font-family: 'IranSans';
    src: url("../assets/fonts/eot/IRANSansWeb.eot") format('eot') ,
         url("../assets/fonts/ttf/IRANSansWeb.ttf") format('ttf') ,
         url("../assets/fonts/woff/IRANSansWeb.woff") format('woff') ,
         url("../assets/fonts/woff2/IRANSansWeb.woff2") format('woff2');
}

body{
    font-family: 'IranSans';
    background-color: aqua;
}