<template>
    <v-layout row>
        <v-flex xs3>
            <v-subheader>{{label}}</v-subheader>
        </v-flex>
        <v-flex xs9>
            <v-text-field
                    :v-model="model"
                    :id="myId"

            ></v-text-field>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "MyInput" ,
        props:['myId' , 'model' , 'atKeyup' , 'label']
    }
</script>

<style scoped>

</style>